# Root-level ignores
node_modules/
.env
.DS_Store

# Backend ignores
/server/node_modules/
/server/dist/
/server/.env
/server/weights.pt
/server/uploads/

# Frontend ignores
/client/node_modules/
/client/build/
/client/.vite/deps/
/client/dist/
# IDE-specific ignores
.vscode/
.idea/

#venv
myenv/
venv/