# Root-level ignores
node_modules/
.env
.DS_Store
venv/

# Backend ignores
/server/node_modules/
/server/dist/
/server/.env
/server/weights.pt

# Frontend ignores
/client/node_modules/
/client/build/


# IDE-specific ignores
.vscode/
.idea/


#venv
venv/