.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: rgb(237, 237, 237);
}

.user-details {
    text-align: center;
    margin-bottom: 20px;
}

.patient-history, .patient-uploads, .upload-details {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.patient-folders, .upload-folders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.patient-folder, .upload-folder {
    width: 150px;
    height: 150px;
    background-color: #8d63ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.upload-folder img, .upload-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.upload-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-details p {
    margin: 10px 0;
}
