.sidebar {
    background-color: #002855;
    color: white;
    width: 250px;
    height: 100vh; /* Full height */
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-align: left;
    display: block;
    color: white; /* Ensure link text is visible */
    text-decoration: none; /* Remove underline */
}

.sidebar a:hover {
    background-color: #575757; /* Background color on hover */
    text-decoration: underline; /* Add underline on hover */
}

/* Ensure main content is shifted to the right of the sidebar */
.main-content {
    margin-left: 250px;
    padding: 20px;
}
  