
.about-container h1 {
    color: rgb(194, 194, 194);
    cursor: pointer; /* Make the cursor a pointer to indicate it's clickable */
    transition: color 0.3s; /* Smooth transition for hover effect */
    display: flex; /* Flexbox to align text and icon */
    justify-content: space-between; /* Space between text and icon */
    align-items: center; /* Align items center */
    margin-bottom: 0px; /* Remove margin at the bottom */
    margin-top: 5px; /* Add margin at the top */
}

.about-container h1:hover {
    color: #ffffff; 
}

.about-container p {
    color: rgb(255, 255, 255);
    font-size: 1.2em; 
    margin-bottom: 10px; 
}

.icon {
    font-size: 0.75em; /* Adjust the size of the icon, smaller than 'xs' */
    opacity: 0.7; /* Adjust the opacity of the icon */
    transition: opacity 0.3s; /* Smooth transition for opacity */
}

.about-container h1:hover .icon {
    opacity: 1; /* Change opacity on hover */
}