/* Basic body and overall styling */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
