.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  text-align: center; 
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.app-name {
  font-size: 60px;
  margin-top: 50px;
}

.play-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease;
}

.play-button:hover {
  transform: scale(1.1);
  background: transparent;
  border: none;
  outline: none;
}

.play-button img.start-icon {
  width: 70px;
  height: 70px;
}

img.fracture-icon {
  width: 250px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .app-name {
    font-size: 60px;
    margin-top: 80px;
  }

  img.fracture-icon {
    width: 300px;
  }

  .play-button img.start-icon {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .app-name {
    font-size: 60px;
  }

  img.fracture-icon {
    width: 250px;
  }

  .play-button img.start-icon {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 767px) {
  .app-name {
    font-size: 60px;
  }

  img.fracture-icon {
    width: 200px;
  }

  .play-button img.start-icon {
    width: 60px;
    height: 60px;
  }
}

/* Extra small screens (very small mobile devices) */
@media (max-width: 480px) {
  .app-name {
    font-size: 40px;
  }

  img.fracture-icon {
    width: 250px;
  }

  .play-button img.start-icon {
    width: 80px;
    height: 80px;
  }
}
