.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  text-align: center; 
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.app-name{
  font-size: 50px;
  margin-top: 50px;
}

.play-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease;
}

.play-button:hover {
  transform: scale(1.1);
}

.play-button img.start-icon {
  width: 70px;
  height: 70px;
}

img.fracture-icon {
  width: 250px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 90px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
