html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    font-family: 'Arial', sans-serif;
  }
  .text-white {
    color: white;
}

.text-blue-500 {
    color: #3b82f6;
}

.hover\:underline:hover {
    text-decoration: underline;
}
