.upload-folders-container {
    overflow-x: auto; /* Allows horizontal scrolling */
    overflow-y: hidden; /* Prevents vertical scrolling */
    white-space: nowrap; /* Prevents line breaks inside the container */
    padding: 40px 20px; /* Padding around the container */
    max-width: 100%; /* Ensures the container fits within the viewport */
}

.upload-folders {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); /* Ensures 4 folders per row */
    gap: 20px; /* Space between folders */
    padding: 20px; /* Padding inside the grid */
    color: white;
    width: max-content; /* Ensure grid width expands to fit content */
    min-width: 600px; /* Ensure the grid takes up enough space */
}

.upload-folder{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; /* Increased gap for better spacing */
    margin-top: 40px;
    margin-right: 20px;
    justify-items: right; 
    position: relative;
    width: 150px;
    border: none;
    background: none;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .upload-folders {
        grid-template-columns: repeat(4, 1fr); /* Limit to 8 columns */
    }
}

.upload-folder:hover {
    transform: scale(1.05); /* Slightly enlarge folder on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
}

.icon-container::before {
    content: attr(data-tooltip); /* Tooltip text from data attribute */
    position: absolute;
    bottom: 120%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.icon-container:hover::before {
    opacity: 1;
    visibility: visible;
}
