.patient-form {
    background-color: rgba(0, 40, 85, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 90%; /* Change to 90% for better mobile responsiveness */
    max-width: 400px; /* Ensure it doesn’t get too wide on large screens */
    box-sizing: border-box; /* Include padding in width calculation */
}

.upload-image-label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.upload-button-icon {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.upload-button-icon:hover {
    transform: scale(1.1); /* Slightly increase the size on hover */
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    gap: 10px; /* Space between buttons */
    margin-top: 10px;
    width: 100%;
}

@media (min-width: 768px) {
    .button-container {
        flex-direction: row; /* Switch to row on larger screens */
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .patient-form {
        width: 100%; /* Make sure it uses all available space on small screens */
    }
}

.file-name {
    color: #ffffff;
    font-size: 1em;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
