.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

.user-details {
    text-align: center;
    margin-bottom: 20px;
}

.user-details button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0044cc;
    color: white;
    cursor: pointer;
}

.user-details button:hover {
    background-color: #003399;
}

.patient-history, .patient-uploads, .upload-details {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.patient-folders, .upload-folders, .shared-folders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 65px;
    margin-top: 20px;
}

.shared-folders {
    margin-top: 40px; /* Increase this value to add more space */
}

.patient-folder, .upload-folder, .shared-folder {
    position: relative;
    width: 150px;
    height: 150px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.folder-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.patient-info, .upload-info, .shared-info {
    text-align: center;
    color: white;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.icon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none; /* Allow click to pass through */
}

.edit-icon, .delete-icon ,.share-icon{
    width: 20px;
    height: 20px;
    pointer-events: auto; /* Enable click on icons */
}

.edit-icon {
    position: absolute;
    top: 25px;
    right: 35px; 
}

.delete-icon {
    position: absolute;
    top: 25px;
    left: 35px; 
}

.share-icon {
    position: absolute;
    top: 25px;
    right: 60px; 
}

.patient-form, .password-form {
    background-color: rgba(0, 40, 85, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 300px;
}

.patient-form h2, .password-form h2 {
    text-align: center;
}

.patient-form label, .password-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.patient-form input,
.patient-form select,
.password-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.patient-form select option {
    color: black;
}

.patient-form button, .password-form button {
    padding: 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #0044cc;
    color: white;
    cursor: pointer;
}

.patient-form button[type="button"], .password-form button[type="button"] {
    background-color: #ff5555;
}

.patient-form button:hover, .password-form button:hover {
    background-color: #003399;
}

.patient-form button[type="button"]:hover, .password-form button[type="button"]:hover {
    background-color: #cc4444;
}

.upload-details {
    background-color: rgba(0, 40, 85, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}

.upload-details form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-details label {
    display: block;
    margin-bottom: 10px;
    color: white;
    width: 100%;
}

.upload-details input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.upload-details button[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0044cc;
    color: white;
    cursor: pointer;
}

.upload-details button[type="submit"]:hover {
    background-color: #003399;
}

.back-button-icon {
    width: 40px;
    height: 40px;
    pointer-events: auto; 
    margin-bottom: 30px;
}

.download-icon {
    cursor: pointer;
    width: 60px;
    margin: 0 auto;
    margin-top: 30px;
}

.sharedUploadsHeader{
    margin-top:60px;
    margin-bottom:10px;
}

/* Profile.css */
.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

.shared-uploads-container {
    text-align: center;
    margin-top: 60px;
}

.shared-uploads-container h2,
.shared-uploads-container p {
    text-align: center;
    margin: 0 auto;
}
