.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}
.user-details {
    text-align: center;
    margin-bottom: 20px;
}
.user-details button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0044cc;
    color: white;
    cursor: pointer;
}
.user-details button:hover {
    background-color: #003399;
}
.patient-history, .patient-uploads, .upload-details {
    width: 100%;
    max-width: 800px;
    text-align: center;
}
.patient-folders, .upload-folders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.patient-folder, .upload-folder {
    position: relative;
    width: 150px;
    height: 150px;
    border: none;
    background: none;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.folder-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}


.patient-info, .upload-info {
    text-align: center;
    color: white;
}
.icon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none; /* Allow click to pass through */
}

.edit-icon, .delete-icon ,.share-icon{
    width: 18px;
    height: 18px;
    pointer-events: auto; /* Enable click on icons */
}
.edit-icon {
    position: absolute;
    top: 20px;
    right: 30px;
}

.share-icon{
    position: absolute;
    bottom: 95px;
    margin-left: 60px;
    left: 40px;
}

.delete-icon {
    position: absolute;
    bottom: 95px;
    left: 30px;
}
.patient-form, .password-form {
    background-color: rgba(0, 40, 85, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 300px;
}
.patient-form h2, .password-form h2 {
    text-align: center;
}
.patient-form label, .password-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
}
.patient-form input,
.patient-form select,
.password-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.patient-form select option {
    color: black;
}
.patient-form button, .password-form button {
    padding: 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #0044cc;
    color: white;
    cursor: pointer;
}
.patient-form button[type="button"], .password-form button[type="button"] {
    background-color: #ff5555;
}
.patient-form button:hover, .password-form button:hover {
    background-color: #003399;
}
.patient-form button[type="button"]:hover, .password-form button[type="button"]:hover {
    background-color: #cc4444;
}
.back-button-icon{
    width: 40px;
    height: 40px;
    pointer-events: auto; /* Enable click on icons */
    margin-bottom: 30px;
 }

 /* Modal styles */
.Modal {
    position: fixed;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
/* Form styles inside the modal */
.Modal form {
    display: flex;
    flex-direction: column;
}
.Modal form label {
    margin-bottom: 10px;
    font-weight: bold;
}
.Modal form input[type="email"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
.Modal form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.Modal form button:hover {
    background-color: #0056b3;
}
/* Close button styles */
.Modal .close-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.Modal .close-button:hover {
    background-color: #c82333;
}

.upload-folders{
    margin-top: 50px;
}

.shared-uploads-container{
    text-align: center;
    margin-top: 20px;
}

.upload-details input[type="email"] {
    color: black; /* Ensure text is black */
    background-color: white; /* Ensure background is white */
}
.upload-details button {
    background-color: #0044cc; /* Consistent button color */
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.upload-details button:hover {
    background-color: #003399;
}
.patient-folder {
    position: relative;
    width: 150px;
    height: 180px; /* Set a consistent height */
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribute content evenly within the folder */
    cursor: pointer;
}

.patient-info {
    text-align: center;
    color: white;
    flex-grow: 1; /* Allows text to expand evenly */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the text vertically */
    margin-top: 10px; /* Add some margin to ensure space from icons */
}
