*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-y: auto; 
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #002855;
  direction: ltr; 
  font-family: 'Calibri', sans-serif; 
  overflow-y: auto;
}

.qa-container {
  min-height: 100vh; 
  background-color: #002855;
  color: white;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-logo {
  font-size: 24px;
  margin-right: 20px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title-container h1 {
  margin: 0;
  margin-right: 10px;
}

.qa-search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #003366;
  color: white;
  font-size: 1em;
}

.qa-content {
  width: 100%; 
  max-width: 850px; 
  padding: 25px 20px;
  text-align: left;
}

.qa-content h2 {
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.5em; 
}

.subtitle {
  font-size: 1.3em;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin: 30px 0 20px;
  text-align: left; 
  font-size: 1.4em; 

}

.qa-item {
  margin: 25px 0;
  text-align: left; 
  font-size: 1.2em; 

}

.question {
  font-size: 1em; 
  margin: 0;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(0, 40, 85, 0.7);
  cursor: pointer;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%; 
  text-align: left; 
  background-color: rgba(0, 40, 85, 0.8); 
}

.answer {
  font-size: 1em; 
  margin: 0;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(0, 40, 85, 0.5);
  margin-top: 5px;
  width: 100%; 
  text-align: left; 
  background-color: rgba(0, 56, 121, 0.6); 
}

.toggle-icon {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.qa-content,
.subtitle,
.qa-item,
.question,
.answer {
  line-height: 1.5; 
}

.get-in-touch {
  padding: 50px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-in-touch h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.get-in-touch p {
  font-size: 1.2em;
  margin-bottom: 40px; 
}

.git-button {
  background-color: #ffcc00;
  color: #0044cc;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 20px; 
  display: inline-block;
}

.git-button:hover {
  background-color: #ffaa00;
}

/* Responsive Design */
@media (max-width: 768px) {
  .qa-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-logo {
    margin-bottom: 10px;
  }

  .title-container {
    flex-direction: column;
    align-items: flex-start;
  }


  .qa-content {
    padding: 10px;
  }

  .question, .answer {
    padding: 8px;
  }
}
