/* Sidebar Toggle Button */
.sidebar-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-toggle img {
  margin-right: 0.5rem;
}

/* Sidebar Container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #333;
  color: white;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

/* Sidebar Links */
.sidebar a,
.sidebar-link {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: white;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar a img,
.sidebar-link img {
  margin-right: 1rem;
  flex-shrink: 0;
}

.sidebar a span,
.sidebar-link span {
  text-align: left;
  flex-grow: 1;
}

/* Hover Effect */
.sidebar a:hover,
.sidebar-link:hover {
  background-color: #555; /* Changes the background color to grey on hover */
}

/* Sidebar Transformation */
.sidebar .translate-x-0 {
  transform: translateX(0);
}

.sidebar .-translate-x-full {
  transform: translateX(-100%);
}

/* Sidebar Icon */
.sidebar-icon {
  margin-right: 1rem;
  flex-shrink: 0;
}
